<section class="education py-5" id="education">
  <div class="container">
      <!-- Title -->
      <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="text-light mb-5">Education</h2>
          </div>
      </div>
      
      <!-- Timeline Row -->
      <div class="row">
          <div class="col-md-12">
              <div class="timeline">

                  <!-- Education 1 (Right) -->
                  <div class="timeline-container right">
                      <div class="timeline-content">
                          <h3 class="title">Electronics and Communication Engineering</h3>
                          <p><small>Grade: Quite Good</small></p>
                          <a href="https://enetcom.rnu.tn/fr" style="text-decoration: none; color: white;">
                              National School of Electronics and Telecommunications <b>Sfax, Tunisia</b>
                          </a>
                          <p class="date">Sep 2022-present</p>
                      </div>
                  </div>

                  <!-- Education 2 (Left) -->
                  <div class="timeline-container left">
                      <div class="timeline-content">
                          <h3 class="title">Preparatory Cycle in Technology-Physics</h3>
                          <p><small>Rank: 360/700</small></p>
                          <a href="https://ipeim.rnu.tn/" style="text-decoration: none; color: white;">
                              Preparatory Institute for Engineering Schools <b>Monastir, Tunisia</b>
                          </a>
                          <p class="date">Sep 2020- Juin 2022</p>
                      </div>
                  </div>

                  <!-- Education 3 (Right) -->
                  <div class="timeline-container right">
                      <div class="timeline-content">
                          <h3 class="title">Technological Baccalaureate</h3>
                          <p><small>Grade: Good</small></p>
                          <p>El Amel High School <b>Gabès, Tunisia</b></p>
                          <p class="date">July 2020</p>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>
