<!-- Experience Section Start -->
<section class="experience py-5" id="experience">
  <div class="container">
      <!-- Title -->
      <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="text-light mb-5">Experience</h2>
          </div>
      </div>
      
      <!-- Timeline Row -->
      <div class="row">
          <div class="col-md-12">
              <div class="timeline">

                  <div class="timeline-container right">
                      <div class="timeline-content">
                          <h3 class="title">Intern Engineer in Deep Learning at the Digital Research Center of Sfax</h3>
                          
                          <p class="description">
                              Detection and segmentation of pulmonary images using convolutional neural networks.
                              Image processing, Deep Learning.
                          </p>
                          <p class="subtitle ">July 2024 - August 2024</p>
                      </div>
                  </div>

                  <!-- Experience 1 (Right) -->
                  
                  <!-- Experience 2 (Left) -->
                  <div class="timeline-container left">
                      <div class="timeline-content">
                          <h3 class="title">Co-organizer of the Secure Green Drive hackathon.</h3>
                         
                          <p class="description">
                              Part of the DAAD project "Strengthening Practice-Oriented Education Program for the Automotive Industry (STEP)."
                              Led the organization of a hackathon focused on AI-based solutions for sustainable urban mobility.
                              Collaborated with industry partners and academic institutions, including IMK Automotive, Primatec Engineering, and ENET'Com.
                          </p>
                          <p class="subtitle ">April 2024</p>
                      </div>
                  </div>

                  <div class="timeline-container right">
                      <div class="timeline-content">
                          <h3 class="title">Summer Internship at Elitech Consulting, Gabès</h3>
                          
                          <p class="description">
                              Created a web application (Front End) for managing internships.
                              Technologies used: HTML5, CSS3, JavaScript, and Bootstrap 5.    
                          </p>
                          <p class="subtitle">July 2023 - August 2023</p>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>
