<link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<section class="contact py-5" id="contact" style="background: black;">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center">
        <div class="profile-image">
          <img src="./../../assets/Adel-removebg-preview.png" alt="Image of Adel" class="img-fluid" style="border-radius: 50%; width: 250px; height: 300px; border: 4px solid #ffcc00 ;">
        </div>
        <h2 class="mt-3 text-light">Let’s Connect!</h2>
        <p class=" text-light">I would love to hear from you. Feel free to reach out!</p>
      </div>

      <div class="col-lg-6">
        <div class="contact-info py-4">
          <h3 class="mb-3 text-light">Contact Details</h3>
          <div class="contact-item mb-3 ">
            <i class="fas fa-phone-alt"></i>
            <span class="ml-2 "><a href="tel:+21652017415">+216 52017415</a></span>
          </div>
          <div class="contact-item mb-3">
            <i class="fas fa-envelope"></i>
            <span class="ml-2"><a href="mailto:adelbenali999@gmail.com">adelbenali999&#64;gmail.com</a></span>
          </div>
        </div>

        <div class="social-links mt-4">
          <h4 class="text-light">Follow Me</h4>
          <ul class="d-flex list-unstyled social-links justify-content-around">
            <li class="mr-4"><a href="#" class="uil uil-facebook" data-toggle="tooltip" data-placement="top" title="Facebook"></a></li>
            <li class="mr-4"><a href="#" class="uil uil-instagram" data-toggle="tooltip" data-placement="top" title="Instagram"></a></li>
            <li class="mr-4"><a href="#" class="uil uil-youtube" data-toggle="tooltip" data-placement="top" title="YouTube"></a></li>
            <li><a href="#" class="uil uil-github" data-toggle="tooltip" data-placement="top" title="GitHub"></a></li>
        </ul>
        
        </div>
      </div>
    </div>
  </div>
</section>


